In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('dis_prof.tsv', sep='\t')
df

     discipline  professor
0             9          1
1            12          2
2             2          3
3             4          4
4             5          5
..          ...        ...
118           2         59
119           4         59
120           1         60
121           8         60
122           9         60

[123 rows x 2 columns]

In [14]:
df = df.pivot_table(index="professor", aggfunc=list)

In [15]:
df.to_dict(orient='index')

{1: {'discipline': [9]},
 2: {'discipline': [12]},
 3: {'discipline': [2]},
 4: {'discipline': [4]},
 5: {'discipline': [5, 3]},
 6: {'discipline': [2]},
 7: {'discipline': [6, 1, 9]},
 8: {'discipline': [11]},
 9: {'discipline': [11]},
 10: {'discipline': [6, 9, 12]},
 11: {'discipline': [10, 9]},
 12: {'discipline': [7, 10, 6]},
 13: {'discipline': [11, 2, 6]},
 14: {'discipline': [12]},
 15: {'discipline': [10, 8, 2]},
 16: {'discipline': [9, 3]},
 17: {'discipline': [6]},
 18: {'discipline': [1]},
 19: {'discipline': [5]},
 20: {'discipline': [2, 8]},
 21: {'discipline': [11, 2]},
 22: {'discipline': [5]},
 23: {'discipline': [1]},
 24: {'discipline': [11, 8, 5]},
 25: {'discipline': [3, 8, 2]},
 26: {'discipline': [9, 10]},
 27: {'discipline': [8, 7, 6]},
 28: {'discipline': [6]},
 29: {'discipline': [10, 11]},
 30: {'discipline': [5, 10]},
 31: {'discipline': [5, 12, 7]},
 32: {'discipline': [8, 10, 6]},
 33: {'discipline': [7, 8, 11]},
 34: {'discipline': [2, 8]},
 35: {'discipline': [1, 2]},
 36: {'discipline': [6, 11, 12]},
 37: {'discipline': [6, 1, 4]},
 38: {'discipline': [6]},
 39: {'discipline': [12, 6, 8]},
 40: {'discipline': [10]},
 41: {'discipline': [9]},
 42: {'discipline': [7]},
 43: {'discipline': [8, 11]},
 44: {'discipline': [5, 9, 12]},
 45: {'discipline': [8, 7]},
 46: {'discipline': [7, 10]},
 47: {'discipline': [8, 9, 6]},
 48: {'discipline': [11]},
 49: {'discipline': [8, 1, 6]},
 50: {'discipline': [9, 12, 6]},
 51: {'discipline': [1, 4]},
 52: {'discipline': [12, 11]},
 53: {'discipline': [8]},
 54: {'discipline': [5, 12, 10]},
 55: {'discipline': [9, 2, 5]},
 56: {'discipline': [3, 7]},
 57: {'discipline': [10, 12]},
 58: {'discipline': [11, 9, 2]},
 59: {'discipline': [7, 2, 4]},
 60: {'discipline': [1, 8, 9]}}